.App {
  width: 100%;
  height: 100%;
}

.nav-fixed-top {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 16px 0;
  background-color: white;
}

.loader {
  position: absolute;
  margin: 0 auto;
  top: 10em;
}

.product-toolbar-fixed-top {
  position: fixed;
  top: 3em;
  z-index: 2;
  width: 100%;
  text-align: center;
  background-color: white;
}

.menu-btn {
  background-color: white;
  padding: 5px;
  margin: 0 10px;
  border: transparent;
}

.menu-btn:hover {
  background-color: rgb(230, 230, 230);
  cursor:pointer;
}

.toolbar-btn {
  font-size: 0.875em;
  width: 35%;
  padding: 0.4em 0px;
  margin-right: 0.3125em;
  background: none;
  color: rgb(99, 99, 99);
  border: 1px solid rgb(180, 180, 180);
}

.app-container {
  margin-top: 20px;
}

.app-logo-name {
  color: orange;
  margin: 0 10px;
}

.products-list {
  position: absolute;
  top: 10em;
  flex-flow: row wrap;
  align-items: center;
}

.product-container {
  width: 44%;
    padding: 2.5%;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}

.product-img-container {
  display: flex;
  justify-content: center;
}
.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width:8em;
}

.product-img > img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-container-horizontal {
  display: flex;
  flex-flow: row wrap;
}